<h1>Comments</h1>
<h3><%= @comments.comment_count %></h3>

<% @comments.each do |comment| %>
  <h2><%= comment.recipe.name %></h2>
  <ul>
    <li>
      <%= comment.body %><br>
      created <%= comment.date %> by <%= comment.user.name %>
    </li>
  </ul>
<% end %>