<h1>Add Comment</h1>

<%= form_for [@recipe, @comment] do |f| %>
  <%= f.text_area :body %><br><br>

  <%= f.submit %>
<% end %><br>

<%= link_to "Home", home_path %>
<%= link_to "Add Recipe", new_recipe_path %>
<%= link_to "Recipes", recipes_path %>
<%= link_to "Your Recipes", user_recipes_path(current_user) %>
<%= link_to "Comments", recipe_comments_path(@recipe) %>
<%= link_to "Cocktail Makers", users_path %><br><br>

<%= form_for current_user, url: logout_path, method: :post do |f| %>
  <%= f.submit "Logout" %>
<% end %>