<h1>Add Comment</h1>

<%= form_for [@recipe, @comment] do |f| %>

  <% if @comment.errors.any? %>
    <h2>There were some errors: </h2>
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.text_area :body %><br><br>

  <%= f.submit %>
<% end %><br>

<%= link_to "Home", home_path %>
<%= link_to "Add Recipe", new_recipe_path %>
<%= link_to "Recipes", recipes_path %>
<%= link_to "Your Recipes", user_recipes_path(current_user) %>
<%= link_to "Comments", recipe_comments_path(@recipe) %>
<%= link_to "Cocktail Makers", users_path %><br><br>

<%= form_for current_user, url: logout_path, method: :post do |f| %>
  <%= f.submit "Logout" %>
<% end %>