<h1>Add Comment</h1>

<%= form_for [@recipe, @comment] do |f| %>

  <% if @comment.errors.any? %>
    <h2>There were some errors: </h2>
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.text_area :body %><br><br>

  <%= f.submit %>
<% end %><br>

<%= render 'shared/links' %>
<%= link_to "Comments", recipe_comments_path(@recipe) %><br><br>