<%= form_for @recipe do |f| %>

  <% if @recipe.errors.any? %>
    <h2>There were some errors: </h2>
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  Cocktail Name:<br>
  <%= f.text_field :name %><br><br>

  Description:<br>
  <%= f.text_area :description %><br><br>

  Ingredients:<br>
  <%= f.fields_for :recipe_ingredients do |ri| %>
    <%= ri.label :quantity %>
    <%= ri.text_field :quantity %>

    <%= ri.fields_for :ingredient do |i| %>
      <%= i.label :ingredient %>
      <%= i.text_field :name %>
    <% end %>
    <br>
  <% end %><br><br>

  Instructions:<br>
  <%= f.text_area :instructions %><br><br>

  <%= f.submit %>
<% end %><br>

<%= link_to "Home", home_path %>
<%= link_to "Recipes", recipes_path %>
<%= link_to "Your Recipes", user_recipes_path(current_user) %>
<%= link_to "Cocktail Makers", users_path %><br><br>