<h1>Recipes</h1>

<% if @recipes.present? %>
  <ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %> created <%= recipe.date %><br>
    <%= recipe.description %><br>
    by <%= link_to recipe.user.name, user_path(recipe.user) %><br>
    </li><br>
  <% end %>
  </ul>
<% else %>
  <p>There are currently no recipes.</p>
<% end %>

<div id="recipeName"></div>

<%= render 'shared/links' %><br><br>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".all-recipes").on("click", function() {

  })
})


</script>