<div>
  <%= button_tag "Previous Cocktail", class: "js-prev" %>
  <%= button_tag "Next Cocktail", class: "js-next" %>
</div>

<div id="showRecipeData" data-id="<%= @recipe.id %>"></div>
<!--Added an #showRecipeData to act as a container for the dynamically loaded content-->
<!--We're using a data attribute to hold the recipeId to load-->

<%= render 'shared/links' %><br><br>
<%= link_to "Recipes by #{@recipe.user.name}", user_recipes_path(@recipe.user), id: "userRecipeLink"%>

<% if current_user == @recipe.user %>
  <%= link_to "Edit Recipe", edit_recipe_path %><br><br>
  <%= form_for @recipe, url: recipe_path, method: :delete do |f| %>
    <%= f.submit "Delete" %>
  <% end %>
<% end %>