<h1><%= @recipe.name %></h1>
<h4>Created <%= @recipe.date %><br> by <%= link_to @recipe.user.name, user_path(@recipe.user) %></h4>

<h3>About the <%= @recipe.name %> cocktail</h3>
<p><%= @recipe.description %></p>
<h3>Ingredients in the <%= @recipe.name %> cocktail</h3>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Ingredient</th>
    </tr>
  </thead>

  <tbody>
    <% @recipe.recipe_ingredients.each do |ri| %>
      <tr>
        <td><%= ri.quantity %></td>
        <td><%= ri.ingredient.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>How to make the <%= @recipe.name %> cocktail</h3>
<p>
  <%= @recipe.instructions %>
</p>

<h3>Comments:</h3>
<% if @recipe.comments.present? %>
  <%= @recipe.comments.comment_count %>
  <ul>
    <% @recipe.comments.most_recent.each do |comment| %>
      <li>
        <%= comment.body %> created <%= comment.date %> by <%= comment.user.name %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No comments.</p>
<% end %>

<%= link_to "Home", home_path %>
<%= link_to "Add Recipe", new_recipe_path %>
<%= link_to "Recipes", recipes_path %>
<%= link_to "Cocktail Makers", users_path %>
<%= link_to "Add Comment", new_recipe_comment_path(@recipe) %>
<%= link_to "Recipe Comments", recipe_comments_path(@recipe) %>
<%= link_to "Recipes by #{@recipe.user.name}", user_recipes_path(@recipe.user) %>
<%= link_to "Your Recipes", user_recipes_path(current_user) %>

<% if current_user.id == @recipe.user.id %>
  <%= link_to "Edit Recipe", edit_recipe_path %>
  <%= form_for @recipe, url: recipe_path, method: :delete do |f| %>
    <%= f.submit "Delete" %>
  <% end %>
<% end %>

<%= form_for current_user, url: logout_path, method: :post do |f| %>
  <%= f.submit "Logout" %>
<% end %>