<h1><%= @recipe.name %></h1>
<h4>Created <%= @recipe.date %><br> by <%= link_to @recipe.user.name, user_recipes_path(@recipe.user) %></h4>

<h3>About the <%= @recipe.name %> cocktail</h3>
<p><%= @recipe.description %></p>
<h3>Ingredients in the <%= @recipe.name %> cocktail</h3>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Ingredient</th>
    </tr>
  </thead>

  <tbody>
    <% @recipe.recipe_ingredients.each do |ri| %>
      <tr>
        <td><%= ri.quantity %></td>
        <td><%= ri.ingredient.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>How to make the <%= @recipe.name %> cocktail</h3>
<p>
  <%= @recipe.instructions %>
</p>

<h3>Comments:</h3>
<% if @recipe.comments.present? %>
  <ul>
  <% @recipe.comments.each do |comment| %>
    <li>
      <%= comment.body %> created <%= comment.date %> by <%= comment.user.name %>
    </li>
  <% end %>
  </ul>
<% else %>
  <p>No comments.</p>
<% end %>

<%= link_to "New Comment", new_recipe_comment_path(@recipe) %>
<%= link_to "View All Recipes", recipes_path %>
<%= link_to "Create Recipe", new_recipe_path %>

<%= form_for @recipe, url: recipe_path, method: :delete do |f| %>
  <%= f.submit "Delete" %>
<% end %>