<a href="#" class="js-next" data-id="<%= @recipe.id %>">Next Cocktail Recipe</a>

<div id="showRecipeData" data-id="<%= @recipe.id %>"></div>

<%= render 'shared/links' %><br><br>
<%= link_to "Recipes by #{@recipe.user.name}", user_recipes_path(@recipe.user) %>
<%= link_to "Add Comment", new_recipe_comment_path(@recipe) %>
<%= link_to "Comments", recipe_comments_path(@recipe) %><br><br>

<% if current_user == @recipe.user %>
  <%= link_to "Edit Recipe", edit_recipe_path %><br><br>
  <%= form_for @recipe, url: recipe_path, method: :delete do |f| %>
    <%= f.submit "Delete" %>
  <% end %>
<% end %>