<div>
  <%= button_tag "Previous Cocktail", class: "js-prev", data: {id: @recipe.id} %>
  <%= button_tag "Next Cocktail", class: "js-next", data: {id: @recipe.id} %>
</div>

<div id="showRecipeData" data-id="<%= @recipe.id %>"></div>

<%= render 'shared/links' %><br><br>
<%= link_to "Recipes by #{@recipe.user.name}", user_recipes_path(@recipe.user) %>

<% if current_user == @recipe.user %>
  <%= link_to "Edit Recipe", edit_recipe_path %><br><br>
  <%= form_for @recipe, url: recipe_path, method: :delete do |f| %>
    <%= f.submit "Delete" %>
  <% end %>
<% end %>