<h1><%= @recipe.name %></h1>
<h2>Created by <%= link_to @recipe.user.name, user_path(@recipe.user) %></h2>

<h3>About the <%= @recipe.name %> cocktail</h3>
<p><%= @recipe.description %></p>
<h3>Ingredients in the <%= @recipe.name %> cocktail</h3>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Ingredient</th>
    </tr>
  </thead>

  <tbody>
    <% @recipe.recipe_ingredients.each do |ri| %>
      <tr>
        <td><%= ri.quantity %></td>
        <td><%= ri.ingredient.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>How to make the <%= @recipe.name %> cocktail</h3>
<p>
  <%= @recipe.instructions %>
</p>

<%= link_to "View All Recipes", recipes_path %>
<%= link_to "Create Recipe", new_recipe_path %>