<h1>Cocktail Makers</h1>

<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.name, user %></li>
  <% end %>
</ul>

<%= link_to "Home", home_path %>
<%= link_to "Add Recipe", new_recipe_path %>
<%= link_to "Recipes", recipes_path %>
<%= link_to "Your Recipes", user_recipes_path(current_user) %>