<h1>Signup</h1>

<%= form_for @user, url: signup_path do |f| %>
  Username:<%= f.text_field :name %><br>
  Email:<%= f.email_field :email %><br>
  Birthday:<%= f.date_field :birthday %><br>
  Password:<%= f.password_field :password %><br>
  Password Confirmation:<%= f.password_field :password_confirmation %><br><br>

  <%= f.submit "Signup" %>
<% end %>