<h1>Profile for: <%= @user.name %></h1>

<h4>Member Since: <%= @user.date %></h4>
<p>Recipe Count: <%= @user.recipes.count %></p>
<p>Comment Count: <%= @user.comments.count %></p>

<%= render 'shared/links' %><br><br>
<%= link_to "Recipes by #{@user.name}", user_recipes_path(@user) %><br><br>