<h1>Hi, <%= current_user.name %>.</h1>

<h2>Recently Created Cocktail Recipes:</h2>
<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe %> - created <%= recipe.date %> by <%= recipe.user.name %></li>
  <% end %>
</ul>

<%= link_to "Add Recipe", new_recipe_path %>
<%= link_to "Recipes", recipes_path %>
<%= link_to "Your Recipes", user_recipes_path(current_user) %>
<%= link_to "Cocktail Makers", users_path %><br><br>

<%= form_for current_user, url: logout_path, method: :post do |f| %>
  <%= f.submit "Logout" %>
<% end %>