<h1>Hi, <%= current_user.name %>.</h1>

<h2>Recently Created Cocktail Recipes:</h2>

<div id="recentRecipes"></div>

<%= link_to "Add Recipe", new_recipe_path %>
<%= link_to "Recipes", recipes_path %>
<%= link_to "Your Recipes", user_recipes_path(current_user) %>
<%= link_to "Cocktail Makers", users_path %><br><br>