<!DOCTYPE html>
<html>
  <head>
    <title>DarkAndStormy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if flash[:message] %>
        <%= flash[:message] %>
      <% end %>
    </div>

    <%= yield %>

    <div>
      <% if current_user %>
        <!--POST - used to send data enclosed in the request to the server.  The server is expected to use this data to create some new resource.-->
        <%= form_for current_user, url: logout_path, method: :post do |f| %>
          <%= f.submit "Logout" %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>